In [1]:
import pandas as pd

In [2]:
oly_s = pd.read_csv("data/summer.csv")
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
oly_w = pd.read_csv("data/winter.csv")

In [4]:
#series is single column in data frame. series is like a python list

In [5]:
oly_w.Year

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [6]:
oly_w["Year"]

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [7]:
df = oly_w[["Year","City"]]
df.sample(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5770 non-null   int64
 1   City    5770 non-null   object
dtypes: int64(1), object(1)
memory usage: 90.3+ KB

In [8]:
city_yr_sort = df.sort_values(by=["City", "Year"], ascending=False)
city_yr_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

In [9]:
#create new column as default value

In [10]:
oly_s["Season"] = "Summer"

In [11]:
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer

In [13]:
oly_w["Season"] = "Winter"

In [14]:
oly_w.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter

In [15]:
list(oly_w.columns) == list(oly_s.columns)

True

In [16]:
join_list = [oly_s, oly_w]

In [17]:
oly = pd.concat(join_list, sort = True)

In [18]:
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [20]:
oly.shape[0] == oly_w.shape[0] + oly_s.shape[0]

True

In [21]:
oly.sample(20)

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
20226,"ZAOULITCHNI, Rostislav",Barcelona,EUN,Boxing,75 - 81KG (Light-Heavyweight),Men,Silver,Summer,Boxing,1992
21635,"MATETE, Samuel",Atlanta,ZAM,Athletics,400M Hurdles,Men,Silver,Summer,Athletics,1996
12398,"SINGH, Harbinder",Mexico,IND,Hockey,Hockey,Men,Bronze,Summer,Hockey,1968
9606,"HEWITT, Harold Neil",Melbourne / Stockholm,AUS,Rowing,Eight With Coxswain (8+),Men,Bronze,Summer,Rowing,1956
1334,"BOCHATAY, Fernande",Grenoble,SUI,Alpine Skiing,Giant Slalom,Women,Bronze,Winter,Skiing,1968
17910,"SUNDERLAND, Paul Benedict",Los Angeles,USA,Volleyball,Volleyball,Men,Gold,Summer,Volleyball,1984
7863,"KINGSBURY, Frederick John Iv",London,USA,Rowing,Four Without Coxswain (4-),Men,Bronze,Summer,Rowing,1948
20599,"DEBUREAU, Philippe",Barcelona,FRA,Handball,Handball,Men,Bronze,Summer,Handball,1992
16635,"DE ROVER, Jolanda",Los Angeles,NED,Swimming,200M Backstroke,Women,Gold,Summer,Aquatics,1984
8212,"LERWILL, Sheila",Helsinki,GBR,Athletics,High Jump,Women,Silver,Summer,Athletics,1952
10274,"RAGNO-LONZI, Antonella",Rome,ITA,Fencing,Foil Team,Women,Bronze,Summer,Fencing,1960
16694,"VAN BENTUM, Conny",Los Angeles,NED,Swimming,4X100M Freestyle Relay,Women,Silver,Summer,Aquatics,1984
9980,"WEDDERBURN, James",Rome,BWI,Athletics,4X400M Relay,Men,Bronze,Summer,Athletics,1960
7949,"JONSSON, Jonas",London,SWE,Shooting,50M Rifle Prone (60 Shots),Men,Bronze,Summer,Shooting,1948
30597,"FORCINITI, Rosalba",London,ITA,Judo,48 - 52KG,Women,Bronze,Summer,Judo,2012
5644,"MOELLER, Edmund Otto Jr.",Amsterdam,DEN,Sailing,6M,Men,Silver,Summer,Sailing,1928
16577,"SKIOLD, Lars-Erik",Moscow,SWE,Wrestling Gre-R,62 - 68KG (Lightweight),Men,Bronze,Summer,Wrestling,1980
28643,"MOISEEV, Andrey",Beijing,RUS,Modern Pentath.,Individual Competition,Men,Gold,Summer,Modern Pentathlon,2008
2476,"CSAR, GÃ¼nther",Calgary,AUT,Nordic Combined,Team,Men,Bronze,Winter,Skiing,1988
11942,"GOMMERS, Maria Francisca P.",Mexico,NED,Athletics,800M,Women,Bronze,Summer,Athletics,1968

In [22]:
##df[df["column_name"] == "value_in_column"] - create a subset that holds results from sochi olys

In [23]:
#to make csv: oly.to_csvtktk

In [24]:
df_sochi = oly[oly["City"] == "Sochi"]

In [25]:
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [26]:
#How many values in a column

In [27]:
df_sochi["Gender"].value_counts()

Men      340
Women    272
Name: Gender, dtype: int64

In [28]:
df_sochi["Medal"].value_counts()

Gold      206
Bronze    204
Silver    202
Name: Medal, dtype: int64